/* Основные стили модуля */
  .geo-data {
    position: relative;
    margin: 20px 0px;
    min-height: 60px;
  }

  .geo-loader {
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
  }
  .geo-loader:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0px 0px -30px;
    border: 3px solid transparent;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: loader 1s ease-in-out infinite;
    -o-animation: loader 1s ease-in-out infinite;
    animation: loader 1s ease-in-out infinite;
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .geo-loader:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0px 0px -20px;
    border: 3px solid transparent;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: loader2 1s ease-in-out infinite;
    -o-animation: loader2 1s ease-in-out infinite;
    animation: loader2 1s ease-in-out infinite;
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .geo-city {
    max-width: 300px;
  }
  .geo-city a {
    text-decoration: none;
    font-weight: bold;
  }
  .geo-city a:hover {
    color: #999;
    border-color: currentColor;
  }
  .geo-city span {
    white-space: nowrap;
  }
  .geo-city-short span {
    color: #000;
  }
  .geo-city-list {
    margin: -10px 0px 0px;
  }
  .geo-city-list li {
    margin: 5px 0px 0px;
  }
  .geo-city-list span {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
  .geo-city-list span:hover {
    color: #999;
  }

  .geo-countries {
    margin: 20px 0px -10px;
  }

  .geo-country {
    display: inline-block;
    margin: 0px 20px 10px 0px;
    white-space: nowrap;
    text-decoration: underline;
  }
  .geo-country i {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 24px;
    margin-right: 5px;
    background: center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 1px #b4b4b4;
    box-shadow: 0px 0px 1px #b4b4b4;
  }
  .geo-country.active {
    color: #222;
    font-weight: 700;
    text-decoration: none;
  }

  .geo-search {
    position: relative;
    z-index: 5;
    margin: 20px 0px;
    max-width: 360px;
  }
  
  .geo-search input {
    width: 100%;
  }
  .geo-search-results {
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    max-height: 260px;
    overflow: auto;
    border: 1px solid #ddd;
    margin: -1px 0px 0px !important;
    padding: 0px !important;
    list-style: none;
    background: #fff;
  }
  .geo-search-results li + li {
    border-top: 1px solid #ddd;
  }
  .geo-search-result {
    display: block;
    margin: 0px !important;
    padding: 0px !important;
  }
  .geo-search-result a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
  }
  .geo-search-result a:hover {
    color: #000;
    background: #f0f0f0;
  }
  .geo-search-result span {
    display: block;
  }
  .geo-search-result-subtitle {
    color: #999;
  }

  .geo-popular {
    margin: 20px 0px;
  }
  .geo-popular-title {
    color: #222;
    font-size: 20px;
    line-height: 24px;
    margin: 0px !important;
  }
  .geo-popular-item {
    display: inline-block;
    margin: 5px 0px 0px;
    cursor: pointer;
    color: #000;
    text-decoration: underline;
  }
  .geo-popular-item:hover {
    color: #999;
  }

  .geo-table {
    margin: 20px 0px;
  }
  .geo-table-title {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-width: 1px 0px;
    background: #f0f0f0;
    font-weight: 700;
    color: #222;
  }
  .geo-table-item {
    display: none;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-width: 1px 0px;
    margin: -1px 0px 0px;
  }
  .geo-table-item p {
    margin: 10px 0px 0px;
  }
  .geo-table-item-p {
    margin: 10px 0px 0px;
  }
  .geo-table-item-p:first-child {
    margin: 0px;
  }
  .geo-table-item-p-title {
    color: #222;
  }
  .geo-table-item-title-toggle {
    border-bottom: 1px dotted #222;
    cursor: pointer;
  }
  .geo-table-item-title-toggle:hover, .geo-table-item-title-toggle.active {
    color: #999;
    border-color: currentColor;
  }
  .geo-table-item-description {
    display: none;
  }

  .geo-mini {
    position: relative;
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  .geo-mini a {
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
  }
  .geo-mini-table-item-map {
    margin-top: 2px;
  }
  .geo-mini .link-bold {
    color: #999;
    border-bottom: 2px solid currentColor;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
  }
  .geo-mini .link-bold:hover {
    color: #000;
    border-color: currentColor;
  }
  .geo-mini-table-item {
    margin: 10px 0px 0px;
  }
  .geo-mini:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10%;
    width: 0px;
    height: 80%;
    border-right: 1px solid #ddd;
  }
  .geo-mini .col-sm-6 {
    padding: 5px 15px !important;
  }

  .geo-map {
    margin-top: 20px;
  }

  .geo-pvz-list {
    border: 1px solid #ddd;
    margin-right: 1px;
    max-height: 500px;
    overflow: auto;
    font-size: 12px;
    line-height: 16px;
    padding: 0px 10px;
  }
  .geo-pvz-list-item {
    margin: 0px;
  }
  .geo-pvz-list-item a {
    display: block;
    padding: 10px 0px;
    color: #222;
  }
  .geo-pvz-list-item a:hover {
    color: #000;
  }
  .geo-pvz-list-item + .geo-pvz-list-item {
    border-top: 1px solid #ddd;
  }

  .geo-pvz-select {
    margin-bottom: 10px;
  }

  @media (max-width: 1199px) {
    .geo-city {
      width: 165px;
      padding-right: 10px;
    }
  }
  @media (max-width: 767px) {
    .geo-city {
      width: 200px;
      padding-right: 0px;
    }

    .geo-table-item-title .geo-table-item-p-title {
      font-size: 16px;
      line-height: 20px;
    }
    .geo-table-item-price {
      margin-top: 10px;
    }
    .geo-table-item-terms {
      margin-top: 10px;
    }
    .geo-table-item-payments {
      margin-top: 10px;
    }

    .geo-mini:before {
      display: none;
    }

    .geo-mini-payments .geo-mini-title {
      margin-top: 10px;
      padding-top: 15px;
      border-top: 1px solid #ddd;
    }
  }

/* Мод гео-привязки */
	.geo-city-header {
	  position: relative;
	}

	.minigeo {
      color: #000;
	  width: 360px; 
	  top: 48px;
	  min-width: 185px;
	  padding-top: 1px;
	  font-size: 15px;
	  transition: opacity 200ms ease 0s, visibility 200ms ease 0s;
	  z-index: 10080;
	  text-align: left;
	  filter: drop-shadow(0 8px 12px rgba(0,0,0,0.25));
	  -webkit-filter: drop-shadow(0 8px 12px rgba(0,0,0,0.25));
	  will-change: opacity;
	  display: flex;
	  border-radius: 4px;
	  position: absolute;
	  background: #fff;
      opacity: 0; 
      visibility: hidden; 
	  -webkit-transform: translate(-50%, 2px); 
	  -ms-transform: translate(-50%, 2px); 
	  -o-transform: translate(-50%, 2px); 
	  transform: translate(-50%, 2px);
	}
    .minigeo:before {
        content: ' ';
        position: absolute;
        width: 25px;
        height: 25px;
        background: white;
        left: calc(50% - 12px);
        top: -4px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
	.minigeo.is-active {
	  opacity: 1; 
	  visibility: visible; 
	}
	.minigeo .header-icons-item-popup-content {
	  padding: 20px;
      width:100%;
	}
	.minigeo .header-icons-item-popup-content:before, .minigeo .header-icons-item-popup-content:after {
	  left: 50%; 
	  margin-left: -8px;
	}
	.minigeo p {
	  text-align: center;
	  margin: 0px 0px 15px;
	}
    .minigeo .minigeo_buttons {
		display:flex;
    }
	.minigeo .minigeo_buttons .button-block {
      margin: 0 5px;
    }
	.minigeo .minigeo_buttons .button-block.button-accept {
      background:#000;
      color: #fff!important;
    }
	.menu-geo .geo-city-header {
	  padding: 0px 0px 0px 20px; 
	  position: relative; 
	  font-size: 14px; 
	  line-height: 18px; 
	  margin: 0px; 
	  width: 100%;
	}
	.menu-geo .geo-city-header:before {
	  position: absolute; 
	  left: 0px; top: 1px; 
	  content: "\f0d1"; 
	  font: normal normal normal 14px/1 FontAwesome;
	}

	.geo-data {
	  position: relative;
	  margin: 20px 0px;
	  min-height: 60px;
	}

	.geo-loader {
	  position: absolute;
	  z-index: 5;
	  left: 0px;
	  top: 0px;
	  width: 100%;
	  height: 0px;
	  overflow: hidden;
	  background: rgba(255, 255, 255, 0.8);
	}
	.geo-loader:after {
	  content: "";
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  width: 60px;
	  height: 60px;
	  margin: -30px 0px 0px -30px;
	  border: 3px solid transparent;
	  border-top: 3px solid #fff;
	  border-bottom: 3px solid #fff;
	  -webkit-border-radius: 50%;
	  border-radius: 50%;
	  -webkit-animation: loader 1s ease-in-out infinite;
	  -o-animation: loader 1s ease-in-out infinite;
	  animation: loader 1s ease-in-out infinite;
	  visibility: visible;
	  opacity: 1;
	  -webkit-transition: 0.2s;
	  -o-transition: 0.2s;
	  transition: 0.2s;
	}
	.geo-loader:before {
	  content: "";
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  width: 40px;
	  height: 40px;
	  margin: -20px 0px 0px -20px;
	  border: 3px solid transparent;
	  border-left: 3px solid #000;
	  border-right: 3px solid #000;
	  -webkit-border-radius: 50%;
	  border-radius: 50%;
	  -webkit-animation: loader2 1s ease-in-out infinite;
	  -o-animation: loader2 1s ease-in-out infinite;
	  animation: loader2 1s ease-in-out infinite;
	  visibility: visible;
	  opacity: 1;
	  -webkit-transition: 0.2s;
	  -o-transition: 0.2s;
	  transition: 0.2s;
	}
	
	.geo-popular-list {
		column-count: 2;
	}

/* Всплывающие окно */
	.window {position: fixed; z-index: 11; left: 0px; top: 0px; width: 100%; height: 100%; padding: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-box-sizing: border-box; text-align: center; white-space: nowrap; overflow: auto;}
	.window-height {display: inline-block; width: 0px; height: 100%; vertical-align: middle;}
	.window-shade {position: fixed; display: none; z-index: 10; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);}
	.window-fake-shade {position: fixed; z-index: 1; left: 0px; top: 0px; width: 100%; height: 100%;}

	.window-data {position: relative; z-index: 2; display: inline-block; vertical-align: middle; white-space: normal; text-align: left; background: #fff; -webkit-box-shadow: 0px 0px 16px rgba(0,0,0,0.25); box-shadow: 0px 0px 16px rgba(0,0,0,0.25); -webkit-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); opacity: 1; -webkit-transition: opacity 0.2s, -webkit-transform 0.2s; transition: opacity 0.2s, -webkit-transform 0.2s; -o-transition: opacity 0.2s, -o-transform 0.2s; transition: opacity 0.2s, transform 0.2s; transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s;}
	.window-data .window-close {position: absolute; z-index: 1; right: 0px; top: 0px; color: #999; font-size: 34px; width: 34px; text-align: center; cursor: pointer; -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s;}
	.window-data .window-close:hover {color: #222;}
	.window-tohide .window-data {-webkit-transform: scale(0.7);-ms-transform: scale(0.7);-o-transform: scale(0.7);transform: scale(0.7); opacity: 0;}

	.window-content {width: 380px; max-width: 100%; padding: 20px; }
	.window-content .window-title {font-size: 20px; line-height: 24px; color: #222; margin: 0px 0px 10px;}
	.window-content .window-subtitle {font-size: 16px; line-height: 20px; color: #222; margin: 0px 0px 10px; font-weight: 700;}
	.window-content .window-description {margin: 10px 0px;}

	.window-content .window-form-item {margin: 10px 0px;}
	.window-content .window-form-item label {display: block; margin: 0px 0px 2px; font-size: 12px; line-height: 16px; color: #222;}
	.window-content .window-form-item-image {position: relative; height: 0px; padding-top: 100%;}
	.window-content .window-form-item-image img {position: absolute; top: 50%; max-height: 100%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
